<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Welcome to DevOps App
			</h1>
			<h2 class="subtitle">
				A place where developers meet and share ideas.
			</h2>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-7">
				<div class="content">
					<h3 class="title is-3">Why is DevOps Awesome?</h3>
					<p>As the trend of software automation grows, we want software engineers to meet here and share the fisticuffs they are having with bugs, testing and deployment challenges or other new tools they may need to discuss</p>
					<p>
						The next content will be generated using filler text, I don't want people writing asking me to make another 'funny' app. I don't make funny apps! I just write content that makes people read and try the app. 
					</p>
					<p>Exercitation facilis. Integer beatae corrupti eligendi aute? Nostrud condimentum donec! Aliquam nisl, risus, ante veniam, aspernatur eaque magni magnis voluptatibus laboris ea corporis litora. Adipisci. </p>
					<p>Dolorem sem nisl nostra mattis? Proident natus magnam condimentum praesentium fusce fugit fugit, metus? Blandit consectetuer accusantium laudantium fringilla aliquip voluptatum explicabo debitis. Sunt exercitation.</p>
					<p>Lacinia dapibus quae malesuada nemo! Netus soluta iure facilisi nostrud elit imperdiet? Habitant rhoncus accumsan dictum taciti quidem nostrud imperdiet? Eros? Dapibus diam. Class, dignissim, class.</p>
				</div>
			</div>
			<div class="column is-4 is-offset1">
				<h4 class="subtitle is-4">Sign Up Today</h4>
				<%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link is-outlined' %>
			</div>
		</div>
	</div>
</section>